
@import 'vars';
.mobile-menu{
    background-color: white;
    left: 0;
    top: 60px;
    position:fixed;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;    
    }
.mobile-menu a{
    text-decoration: none;
    color: var($--black);
    font-weight: bold;
}
.mobile-menu ul{
    margin-top: 24px 0 0 ;
    padding: 0;
    list-style: none;

    
}

.mobile-menu ul:nth-child(3){
    margin-bottom: 50px;

    
}

.mobile-menu ul:nth-child(1){
   border-bottom: 1px solid var($--very-light-pink);
}


.mobile-menu ul li{
    margin-bottom: 24px;
}       
 .email{
    font-size: var(--sm);
    font-weight: 300 !important;
}
.sign-out{
    font-size: var($--sm);
    color:var($--hospital-green)!important
}